{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}
{% block main-content %}

<div xlass="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
    <h2 style="text-align: center;"> Password Reset Complete ! </h2>
    <hr>
    <div class="col-sm-9 offset-sm-1 text-center">
  
      <div style="width:50%;height:0;padding-bottom:40%;position:relative; align-content: center;">
     
          <img src="/static/images/giphy.gif" width="60%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
      </div>
  </div>
  </div>
  </div>
</div>

{% endblock main-content %}