{% extends 'app/base.html' %}
{% load static %}
{% block title %}
 Change Password
{% endblock %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3> Welcome {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 brder=end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'login' %}"  class="btn btn-success"> Login Again</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <div style="width:50%;height:0;padding-bottom:40%;position:relative;">
            <h3 class="" style="padding-left: 20%;"> Password Successfully Changed </h3>
                <img src="/static/images/giphy.gif" width="20%" height="30%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}